streamlit==1.49.1

pandas==2.3.0
numpy==2.3.0

matplotlib==3.10.3
seaborn==0.13.2
wordcloud==1.9.4

scikit-learn==1.5.2
imbalanced-learn==0.12.4

datasets==3.6.0

sastrawi==1.0.1
huggingface_hub==0.33.0
pyarrow==20.0.0
joblib==1.5.1