streamlit==1.49.1
pandas==2.2.3
numpy==1.26.4
matplotlib==3.9.4
seaborn==0.13.2
wordcloud==1.9.4
scikit-learn==1.5.2
imbalanced-learn==0.12.4
datasets==2.21.0
sastrawi==1.0.1
huggingface_hub==0.24.7
pyarrow==17.0.0
joblib==1.4.2